<div class="top-content">
<!-- Top content -->
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1 class="success-sty"><strong>Detokenization Application</strong> </h1>
        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <strong>Token!</strong> has been successfully decrypted.
    </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover mytable">
          <thead class="thead-inverse">
            <tr>
              <th>Token</th>
              <th>Card #</th>
              <th>Expiry</th>
              <th>CVV</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>13432523423424</td>
              <td>4266 8787 8854 7780</td>
              <td>09/09</td>
              <td>131</td>
            </tr>
            <tr>
              <td>13432523423424</td>
              <td>3797 888888 90995</td>
              <td>09/09</td>
              <td>131</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>