      <div class="row">
        <div class="col-lg-12">
          <!--<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-2">-->
            <div class="topmenu">
              <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <div class="brand" href="#">  MENU </div>
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right menu-sty">
                    <li class="active"><a href="/logins">Home</a></li>
                    <li><a href="/tokens">Token</a></li>
                    <li><a href="/tokens/token_details">Token Details</a></li>
                    <li><a href=<%=contact_us_path%>>Contact Us</a></li>
                    <li><a href="/logins">Sign Out</a></li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </nav>
            </div>
          <!--</div>-->
        </div>
        <!--col-lg-12-->
      </div>